input {
  border: 2px solid cyan;
}

.button, select {
  background-color: cyan;
  color: white;
}

.button:hover {
  background-color: cyan;
  opacity: 0.7;
}

p {
  color: cyan;
  font-size: 24px;
}